<div class="login">
  <div class="title">
  <h2>Account Login</h2>
  </div>

  <form action="/login" method="post" class="login-form">
    <input type="email" name="email" placeholder="Email" class="form-item" required>
    <input type="password" name="password" placeholder="Password" class="form-item" required>
    <button type="submit" class="form-item">Sign in</button>
  </form>
</div>