body {
  background-color: #ebebeb;
}

.content {
  width: 80%;
  height: 80%;
  margin: 50px auto;
  display: flex;
  justify-content: center;
}

.login {
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-form {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.form-item {
  margin-bottom: 10px;
  border-radius: 3px;
}

.login-form input {
  height: 35px;
  width: 100%;
  font-size: 15px;
  box-sizing: border-box;
}

.login-form button {
  margin-top: 20px;
  height: 30px;
  width: 100px;
  border-radius: 8px;
  font-size: 15px;
}

.login-error {
  color: red;
  font-size: small;
}